:root {
  --white: #faf8f8;
  --grey: #dcdfe5;
  --blueberry: #01110a;
  --turquoise: #00be9c;
  --lavender: #cd1624;
  --call-to-action: #fffc86;
  --rounded: .75rem;
  --pilled: 2rem;
  --shadow: .3rem;
  --breakpoint-medium: 30em;
}

@font-face {
  font-family: 'gothic';
  src: url(../fonts/gothic.woff2) format('woff2');
}

* {
  font-family: "gothic", cursive;
  list-style: none;
}

*::-webkit-scrollbar { display: none; }
body { overflow-x: hidden; }
h2 { margin-left: 1.5rem; }
footer { margin-top: 2rem; }
footer nav h2 { margin: calc(-1rem - 1px) calc(-1rem - 1px) 1rem 2rem }
::marker { color: currentColor; }
section a { padding: 0 .25rem }